# Imports

By importing modules, we can access code and functions that aren't available in base python. When we import a module, we are searching for the downloaded module and then binding it to a name in local scope.

Examples: 
- import (package name) as (user given name)
- from (package name) import (module name) as (user given name)

In [43]:
#import sys
import math # Built-in module that extends the amount of mathematical functions available 
# import random 
import numpy as np # Numerical computing package

# How to print
    We can print strings, numbers, and variables created by the user using the "print" statement

In [44]:
print("Hello World!")

Hello World!

# Variables
- We can set variables to any specific python variables using a singlular "=" 
- When naming variables, the name needs to start with either a letter or an underscore
- Variable names are case sensitive

## Variables can take many data types
   - Strings
   - Integers
   - Floats
   - Booleans
   - Lists
   - Dataframes
   - Arrays
   - etc.

### Strings
Strings in python can be assigned by using either single quotation marks, double quotation marks, or using three quotes for multiple lines.

In [45]:
first_name = "SDSU"
last_name = 'Jackrabbits'
#full_name = "SDSU Jackrabbits"
#full_name = first_name + last_name
#full_name = first_name + ' ' + last_name
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
full_name = f"""{first_name} {last_name}""" # Intro to F-Strings, will get into this more later
full_name

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

'SDSU Jackrabbits'

### Slicing a string

In [46]:
# With strings, we can choose a specific character in a string 
# using brackets at the end of the variable name
# It is import to note that indexing in python starts at 0 rather than 1 
# compared to R
print("1st character:");print(last_name[0])

# When slicing a string, we can follow a start, stop, step method using these brackets.
# Example: example_string[start:stop:step]
print("1st five characters:"); print(last_name[0:5]) #Choosing the first 5 values


print("Every other character:"); print(last_name[0:-1:2]) # Slicing a string such that we are starting at the first
                                                          # variable, ending before the last, and skipping every 
                                                          # other variable in the string

1st character:
J
1st five characters:
Jackr
Every other character:
Jcrbi

In [47]:
# If it is ever needed, we can replace any specific phrase within
# a string with another phrase using the .replace() function
name = "SDSU Jackrabbits"
name = name.replace("Jackrabbits", "Bunnies") 
print(name)

# If we want to split a string composed of phrases, we can use 
# the .split() function to split a string into a list
unis = "SDSU, NDSU, USD"
print(unis.split(sep = ", "))

# To turn a string into all upper or lower case values, we can
# use the .upper() and .lower() function .
name = "Seth Friesz"
print(name.lower())
print(name.upper())

SDSU Bunnies
['SDSU', 'NDSU', 'USD']
seth friesz
SETH FRIESZ

## Integers and Floats

In [48]:
number1 = 1 
number2 = 3.14159 
print(f"""{number1} is a {type(number1)}"""); print(f"""{number2} is a {type(number2)}""")

1 is a <class 'int'>
3.14159 is a <class 'float'>

## We can rewrite variables at later points of the code

In [49]:
variable1 = "Brookings"
print(variable1)
variable1 = "Sioux Falls"
print(variable1)

Brookings
Sioux Falls

# Input statements
We can use the built-in function input() to take user input. By default, the function will
return as a string

In [50]:
full_name = input(
    prompt = "What is your name?  "
)
user_age = input(f"""{full_name}, what is your age? """)

print(f"""
Name: {full_name}
Age: {user_age}
""")

What is your name?  Seth
Seth, what is your age? 18

Name: Seth
Age: 18

# More on printing
- Using the print statement, we can separate different parts of the prompt
- There is string formatting to infuse variables together dynamically to print a string
- We can also use F-Strings to do the same thing

In [51]:
# In the print() function, we can use the separator (sep) parameter to 
# to insert a manual separator 
print("January",18, 1999, sep = "-")

# We can format strings in three different ways, but I am only going to introduce two. 
# We can the use original %-formatting, were we use a % followed by what ever
# variable type (s-string, d - integer, .2f - float rounded to the hundredth )
print("Phone: %s \tGeneration: %0d \tPrice: $%.2f" %("iPhone", 14, 1099.9999999))

# Another way to format strings (and to me, a cleaner method) is using formatted string
# literals, or f-strings. When we have variables, we can insert variables into strings
# using {} around the variable.
phone = "iPhone"
gen = 14
price = 1099.99
print(f"""
Phone: {phone}
Generation: {gen}
Price: ${price}""")

January-18-1999
Phone: iPhone 	Generation: 14 	Price: $1100.00

Phone: iPhone
Generation: 14
Price: $1099.99

# Mathematics in Python
- We can perform many different mathematically operations using built-in and exported operations and functions

In [52]:
print(f"""20 + 10 = {20+10}""") #Addition
print(f"""20 - 10 = {20-10}""") #Subtraction
print(f"""20 * 10 = {20*10}""") #Multiplication
print(f"""20 / 10 = {20/10}""") # Division
print(f"""5 % 3 = {5%3}""") # Modulus
print(f"""2\u00b3 = {2**3}""") # Exponentiation
print(f"""How many times does 2 go into 5? {5//2}""") # Floor division

20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0
5 % 3 = 2
2³ = 8
How many times does 2 go into 5? 2

### Plus-equal operator
When we want to add a numerical value onto an existing variable, we can use the plus-equal operator
to do just that. We can also use the same idea to subtract, multiply, and divide.

In [53]:
_int = 4
print(_int)
_int += 2
print(_int)

4
6

## Other built-in math functions

In [1]:
# Absolute value function
print(f"""Absolute Value of -4: {abs(-4)}""")
# Raising a numerical value to the power of another numerical value
print(f"""Three to the power of 4: {pow(3,4)}""")
# Maximum between a list of values
print(f"""Largest value between 7,8,9: {max(7,8,9)}""")
# Minimumc between a list of values
print(f"""Smallest value between 7,8,9: {min(7,8,9)}""")
# Rounding floats to a specific decimal point
print(f"""Round 3.14159265 to the third decimal: {round(3.14159265,3)}""")

Absolute Value of -4: 4
Three to the power of 4: 81
Largest value between 7,8,9: 9
Smallest value between 7,8,9: 7
Round 3.14159265 to the third decimal: 3.142

## Math Package functions
- Documentation of the Math Package: https://docs.python.org/3/library/math.html

In [55]:
# Ceiling function (math)
print(f"""Ceiling of pi: {math.ceil(math.pi)}""")
# Floor function (math)
print(f"""Floor of pi: {math.floor(math.pi)}""")
# Exponential function (math)
print(f"""e\u00b3: {math.exp(3)}""")
# Logrithimc function (math)
print(f"""ln(e): {math.log(math.exp(1))}""")

Ceiling of pi: 4
Floor of pi: 3
e³: 20.085536923187668
ln(e): 1.0

# Conditionals, Logicals and If/Elif/Else statements
### Conditional Statemets
- Less than (<) and less than or equal to (<=)
- Greater than (>) and greater than or equal to (>=)
- Equal to (==)
- Not equal to (!=)

### Logical statements
- And
- Or
- Not

In [56]:
# We can interpret if/elif/else statements as "If any of the specified conditions are met, then run 
# the code that corresponds to that conditions. If no conditions are met, run anything that wasn't 
# specified in the previous conditions"
a = 4
b = 4
if a < b:
    print("a is less than b")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal

In [57]:
# We can use the "and" logical statement to combine conditional statements where both conditions 
# need to be met
user_age = int(input("Please enter an age value: "))
if user_age >= 21:
    print("User is able to obtain both a driver's license and a CDL")
elif (user_age >= 14) and (user_age < 21):
    print("User is able to obtain a driver's license, but not a CDL")
else:
    print("User can not obtain a driver's license nor a CDL")

Please enter an age value: 18
User is able to obtain a driver's license, but not a CDL

In [58]:
# We can use the "or" logical statement to combine statements where only one condition
# needs to be met
a = 2
b = 33
c = 500
if (a > b) or (a > c):
    print("At least one of the conditions is True")
else:
    print("Both conditions are false")

Both conditions are false

In [59]:
# We can use the "not" logical statement to reverse the result of a conditional statement
a = 21
b = 20
if not a > b:
    print("a is NOT greater than b")
else:
    print("a is greater than b")

a is greater than b

## Nested if/elif/else statement

In [60]:
# Lastly, we can also nest if statements inside of if statements to created nested 
# if statements
user_value = int(input("Choose a numerical value: "))
if user_value > 5:
    if user_value > 10:
        print("The value you picked is greater than 5 and 10")
    else: 
        print("The value you picked is greater than 5, but not 10")
else:
    print("The value you picked is less than 5")

Choose a numerical value: 7
The value you picked is greater than 5, but not 10

# Lists
- Used to store multiple items
- Created by using square brackets

In [61]:
list1 = [4, 3.14, "SDSU",False] # Creating a list
print(f"""Length of list: {len(list1)}""") # Number of values in the list
print(f"""Second item: {list1[1]}""") # Choosing the second item in list
print(f"""Last item: {list1[-1]}""") # Choosing the last item in the list
print(f"""First through 3rd items: {list1[0:3]}""")

Length of list: 4
Second item: 3.14
Last item: False
First through 3rd items: [4, 3.14, 'SDSU']

In [62]:
# We can change certain values inside a list using the same indexing we used for strings
print(f"""Second item: {list1[1]}""")
list1[1] = 4 
print(f"""Second item (Update): {list1[1]}\n""")

# Again, we can follow the [start:stop:skip] to further our knowledge of index slicing
print(f"""First through 3rd items: {list1[0:3]}""")
list1[0:3] = ["Jackrabbits", 6, "Math is Fun"] # Changing the first, second, and third values of the list
print(f"""First through 3rd items (Update): {list1[0:3]}""")

Second item: 3.14
Second item (Update): 4

First through 3rd items: [4, 4, 'SDSU']
First through 3rd items (Update): ['Jackrabbits', 6, 'Math is Fun']

In [78]:
# To combine multiple lists, all we need to do is "add" the two lists together
NFC_north = ["Vikings", "Packers", "Bears", "Lions"]
NFC_west = ["49ers", "Cardinals", "Rams", "Seahawks"]
NFC_north_west = NFC_north + NFC_west
print(NFC_north_west) 

# Removing a specific value out of a list is as simple as using the .remove() function
# and then specifying what specific value you want removed
NFC_north.remove("Vikings") 
print(NFC_north)

# We can also remove an item at a specific index from a list and return that value
print(NFC_west.pop(1))

['Vikings', 'Packers', 'Bears', 'Lions', '49ers', 'Cardinals', 'Rams', 'Seahawks']
['Packers', 'Bears', 'Lions']
Cardinals

In [79]:
list1 = [44,56,79,121]
print(f"""Minimum of list 1: {min(list1)}""") # Finding the minimum value of a given list
print(f"""Maximum of list 1: {max(list1)}""") # Find the maximum value of a given list

Minimum of list 1: 44
Maximum of list 1: 121

# Dictionaries
- Stores data values in key:value pairs
- Dictionaries do not allow duplicates
- Written with curly brackets

In [80]:
dorks = {
    "Jason": "A",       #Creating a dictionary
    "Janean": "A",
    "Clair": "C",
    "Bryce": "D"
}

In [81]:
print(f"""Size of dictionary: {len(dorks)}""") # Size of dictionary
print(f"""Students (Keys) in the dictionary : {dorks.keys()}""") # Keys of dictionary
print(f"""Grades (Values) in the dictionary: {dorks.values()}""") # Values of dictionary
print(f"""Clair's grade: {dorks["Clair"]}""") # A specifc key's value

Size of dictionary: 4
Students (Keys) in the dictionary : dict_keys(['Jason', 'Janean', 'Clair', 'Bryce'])
Grades (Values) in the dictionary: dict_values(['A', 'A', 'C', 'D'])
Clair's grade: C

In [82]:
dorks["Dylan"] = "A" # Creating a new dictionary key and it's value
print(f"""Dylan's grade: {dorks["Dylan"]}""") # Verifying the addition

Dylan's grade: A

In [83]:
dorks['Bryce'] = "B" # Changing a specific key's value
print(f"""Bryce's Grade: {dorks['Bryce']}""") # Verifying the addition

Bryce's Grade: B

In [84]:
del dorks["Dylan"] # Deleting a key and its value from the dictionary
print(f"""Dylan's grade: {dorks["Dylan"]}""") # Verifying the addition

KeyError: 'Dylan'

# While loops
- Executes a set of statements as long as a condition(s) holds true

In [85]:
i = 1
while i < 7:     #Simple while loop
    print(f"""{i} is less that 7""")
    i +=1

1 is less that 7
2 is less that 7
3 is less that 7
4 is less that 7
5 is less that 7
6 is less that 7

In [86]:
# We can utilize a "break" statement to terminate the execution of a loop. We typically
# utilize the break statement after a condition is met in a if/else statement
i = 1
while i < 10:
    if i / 5 == 1:
        print(f"""{i} is divisible by 5""")
        break
    else:
        print(f"""{i} is less than 10 and not divisible by 5""")
        i += 1

1 is less than 10 and not divisible by 5
2 is less than 10 and not divisible by 5
3 is less than 10 and not divisible by 5
4 is less than 10 and not divisible by 5
5 is divisible by 5

In [87]:
# The continue statement is another loop control statement that skips the execution of the rest of
# the program block after the continue statement and goes onto the next iteration of the loop
i = 1
while i < 10:
    i += 1
    if i / 5 == 1:
        continue
        print(f"""{i} is divisible by 5""")
    else:
        print(f"""{i} is less than 10 and not divisible by 5""")

2 is less than 10 and not divisible by 5
3 is less than 10 and not divisible by 5
4 is less than 10 and not divisible by 5
6 is less than 10 and not divisible by 5
7 is less than 10 and not divisible by 5
8 is less than 10 and not divisible by 5
9 is less than 10 and not divisible by 5
10 is less than 10 and not divisible by 5

# For loops
- Used to iterate over a sequence
    - Could be a list, dictionary, string and more
- We can execute a set of statements within a for loop

## Ranges
- The range function returns a sequence of numbers 
    - Starts at zero (default)
    - Increments by one (default)
    - Stops at a specified number

In [88]:
# Print a list that starts at 0 and ends before the number 6
print(list(range(6))) 
# Print a list that starts at 1 and ends before the number 6
print(list(range(1,6)))
# Print a list that starts at zero, ends before the number 20, and increments by 2
print(list(range(0,20,2)))

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [90]:
for x in range(0,10):
    if x < 5:
        print(f"""{x} is less than 5""")
    else:
        print(f"""{x} is greater than or equal to 5""")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is greater than or equal to 5
6 is greater than or equal to 5
7 is greater than or equal to 5
8 is greater than or equal to 5
9 is greater than or equal to 5

In [91]:
for x, team in enumerate(NFC_north_west):
    print(f"""{x} value: {team}""")
print('\n\n\n\n\n')    
for x, team in enumerate(NFC_north_west):
    print(f"""{x} value: {team}""")
    if team == "Lions":
        break

0 value: Vikings
1 value: Packers
2 value: Bears
3 value: Lions
4 value: 49ers
5 value: Cardinals
6 value: Rams
7 value: Seahawks






0 value: Vikings
1 value: Packers
2 value: Bears
3 value: Lions

In [92]:
for x in dorks.keys():
    print(f"""
    Key: {x}
    Value: {dorks[x]}""")

    Key: Jason
    Value: A

    Key: Janean
    Value: A

    Key: Clair
    Value: C

    Key: Bryce
    Value: B

## List Comprehension
- Offers shorter syntax when wanting to create a list from exisiting values from another list

In [93]:
list1 = [0, (math.pi/2), (math.pi), ((3*math.pi)/2)]
new_list = []
for x in list1:
    value = math.floor(math.sin(x))
    new_list.append(value)
new_list

[0, 1, 0, -1]

In [94]:
list1 = [0, (math.pi/2), (math.pi), ((3*math.pi)/2)]
new_list = [math.floor(math.sin(x)) for x in list1]
new_list

[0, 1, 0, -1]

In [95]:
sentence = 'South Dakota State University'
vowels = [i for i in sentence if i in 'aeiou']
vowels

['o', 'u', 'a', 'o', 'a', 'a', 'e', 'i', 'e', 'i']

In [96]:
prices = [1.99, 5.69, 12.99, 19.99, 35.99, 84.99]
new_prices = [round(i - (i * .10),2) if i > 15 else i for i in prices]
new_prices

[1.99, 5.69, 12.99, 17.99, 32.39, 76.49]

# Functions
- A block of code with only runs when called upon
- Pass data (parameters) into the function
- Functions also can return data

In [97]:
def my_fun():
    print("This is a simple function.")
my_fun()

This is a simple function.

In [98]:
def sum_function(a = 1, b = 1):
    return a+b
print(sum_function())
print(sum_function(a = 2))
print(sum_function(a = 2, b = 4))

2
3
6

In [99]:
def sum_prod(a = 1, b = 1):
    return a + b, a*b
_sum, _prod = sum_prod(a = 3, b = 4); print(f"""Sum: {_sum}\nProduct: {_prod}""")

Sum: 7
Product: 12

## Lambda functions
- A lambda function can take any number of arguments, but can only have one expression.

In [100]:
f = lambda x : x**2 + 2*x + 4
f(3)

19

In [101]:
g = lambda x, y: x**3 + y**2
g(x = 2, y= 3)

17

## Map
- Returns the values after we apply a function to a given list

In [102]:
f = lambda x: x**2
list1 = [-3,-2,-1,0,1,2,3]
print(list(map(f,list1)))

def sum_fun(a, b):
    return a + b
result = list(map(sum_fun, [1,2,3,4], [2,3,4,5]))

[9, 4, 1, 0, 1, 4, 9]